/***** Custom CSS *****/
html, body {
	padding: 0;
	padding-right: 0.1em;
	margin: 0;
	background-color: #282C34;
	color: white;
	font-family: sans-serif;
}

a {
	color: #6494ed;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

.mini-title {
	display: inline-block;
	font-weight: bold;
	margin-top: 0.25em;
	margin-bottom: 0;
	margin-left: 0.25em;
	border-top: 1px solid #181A1F;
	border-left: 1px solid #181A1F;
	border-right: 1px solid #181A1F;
	background-color: #21252B;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 0.25em;
}

.mini-title:hover {
	cursor: pointer;
}

.mini-title.tab-active {
	border-top: 1px solid #6494ed;
	border-left: 1px solid #6494ed;
	border-right: 1px solid #6494ed;
}

.output-titles {
	overflow: hidden;
	white-space: nowrap;
}

.output-titles:hover {
	overflow-x: scroll;
}

.pre {
	font-family: monospace;
	background-color: #282C34;
	color: #ABB2BF;
	white-space: pre;
	resize: none;
	padding: 1em;
	border: 2px solid transparent;
	outline: none;
}

.btn {
	line-height: 1.2;
	border: 3px solid transparent;
	border-radius: 3px;
	padding: 0.75em 1em;
	margin: 0 0.5em;
	align-self: center;
	background-color: #505662;
	color: white;
	font-weight: bold;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn:hover, .btn:focus {
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	background-color: #5c6370;
	outline: none;
}

.btn:active {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	background-color: #676f7e;
}

#msg {
	margin: 1em;
}

#msg.error {
	border-color: #d34336;
	background-color: #d34336;
}

#msg.success {
	border-color: #2da946;
	background-color: #2da946;
}

#nav {
	background-color: #21252B;
	border-bottom: 1px solid #181A1F;
	padding: 0.75em;
	user-select: none;
	max-height: 3em;
}

#nav-title {
	width: 40%;
	font-size: 2em;
	margin: 0;
	padding-left: 0.5em;
	display: inline-block;
	cursor: pointer;

}

#nav-container {
	padding-right: 0.5em;
	display: inline-block;
	width: calc(100% - 40% - 2em);
	text-align: right;
	vertical-align: top;
}

#footer {
	color: #ABB2BF;
	background-color: #21252B;
	border-top: 1px solid #181A1F;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	height: 2em;
	display: flex;
	padding: 0 0.75em;
	justify-content: space-between;
}

#footer .container * {
	font-size: 0.75em;
	line-height: 3em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}


#footer .container-left * {
	flex: 1 1 33%;
	margin-right: 1.5em;
	text-align: left;
}

#footer .container-right * {
	margin-left: 1.5em;
	text-align: right;
}

/* MOBILE */
@media only screen and (max-width: 768px) {
	#nav-title {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 576px) {
	#nav-title {
		font-size: 1em;
	}


	#nav-container {
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		width: calc(100% - 40% - 1em);
	}
}

@media only screen and (max-width: 768px) {
	.output-titles {
		overflow-x: scroll;
	}
}

/* Overrides */
.CodeMirror-gutters {
	background-color: #21252B;
	border-right: 1px solid #181A1F;
}

.CodeMirror-gutter-wrapper {
	background-color: #21252B;
	border-right: 1px solid #181A1F;
}

.CodeMirror {
	border-top: 1px solid #181A1F;
	border-bottom: 1px solid #181A1F;
	height: calc(100vh - 10em);
}

.cm-builtin {
	color: #C678DD !important;
}

.cm-variable-2 {
	color: #42A2EF !important;
}


/* Scrollbal (WEBKIT ONLY) */
/* Let's get this party started */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #6f747d;
	opacity: 0.5;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4);
}
